footer{
    grid-area: foot;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 12px 0;
    background-color: black;
    color: white;
}

footer p{
    margin: 0;
    padding: 4px 0;
    text-align: center;
}