*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html{
    scroll-behavior: smooth;
}

body{
    background-color: bisque;
}


.wrapper{
    position: relative;
    width: 1200px;                              /* Begrenzung */
    background-color: beige;                  /* links */
    margin: 0 auto 0 auto;                      /* und */
    display: grid;                              /* rechts */
    min-height: 100vh;                          /* 100% der Browserhöhe */
    grid-template-columns: 200px auto 100px;    /* X Achse Aufteilung - Spalten */
    grid-template-rows: 100px auto 60px;        /* Y Achse Aufteilung - Zeilen */
    grid-template-areas: 
    "kopf kopf kopf"
    "menu main main"
    "foot foot foot";
    _background: url("../img/back_3.jpg") no-repeat center center;
    _background-size: cover;
    background: radial-gradient(circle,rgba(77, 112, 240, 1) 0%, rgba(255, 255, 255, 1) 0%, rgba(182, 234, 250, 1) 100%);
}

header{
    grid-area: kopf;
    _background: url("../img/background_1_1000px.jpg") no-repeat center center;
    background-size: cover;
}

nav{
    grid-area: menu;
}

main{
    grid-area: main;
}

footer{
    grid-area: foot;
    background-color: #0f0;
}